body {
    margin: 0;
    padding: 0;
}

header {
    height: 275px;
    background: url(img/banner_large.jpg) no-repeat right 0px;
}

header a.logo {
    display: block;
    position: absolute;
    top: 28px;
    right: 30px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    width: 150px;
    height: 85px;
    background-image: url(img/logo_large.png);
}

nav {
    width: 100%;
    display: block;
    position: absolute;
    background-color: #a6430a;
    top: 275px;
}

nav a {
    margin: 12px 0 10px 20px;
}

article {
    padding: 60px 20px 10px 20px;
}

.promo_container {
    padding: 0 0 15px 20px;
}

.promo_container .promo {
    width: 33%;
    float: left;
    background-position: 0 3px;
}

.promo_container .promo .content {
    padding: 0 30px 0 70px;
}
