header {
    height: 200px;
    background: url(img/banner_large.jpg) no-repeat;
}

header a.logo {
    width: 115px;
    height: 70px;
    top: 20px;
    right: 20px;
    background-image: url(img/logo_medium.png);
}

nav {
    top: 200px;
}

.promo_container {
    padding: 0 20px 15px 20px;
}

.promo_container .promo {
    background-position: 0 0;
}

.promo_container .promo .content {
    padding: 70px 30px 0 0;
}
