body {
    color: #575c7a;
    line-height: 1.5em;
    font-family: arial;
    font-size: 14px;
    background: #515673 url(img/background_gradient.jpg) repeat-x;
}

.page {
    max-width: 980px;
    background-color: #fff;
    margin: 0 auto;
}

h1 {
    font-size: 2em;
    font-weight: normal;
    color: #a6430a;
    margin: 0 0 0.5em 0;
}

h3 {
    font-size: 1.5em;
    margin: 0 0 1em 0;
}

p {
    margin: 0 0 0.75em 0;
}

a {
    color: #de9000;
}

a:hover {
    color: #009eff;
}

footer {
    font-size: 0.85em;
    color: #9ba0bd;
    background-color: #575c7a;
    padding: 10px 10px 10px 0;
}

a.cta {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: bold;
    text-decoration: none;
    margin: 0.5em 0 0 0;
    padding: 0 12px 0 0;
    background: url(img/cta_arrow.png) no-repeat right 0px;
}

a.cta:hover {
    background-position: right -50px;
}

.promo h3 {
    font-size: 1.1em;
    margin: 0;
}

.promo p {
    line-height: 1.2em;
    font-size: 0.9em;
    margin-bottom: 0.5em;
}

.promo {
    background-repeat: no-repeat;
}

.promo.one {
    background-image: url(img/promo_1.jpg);
}

.promo.two {
    background-image: url(img/promo_2.jpg);
}

.promo.three {
    background-image: url(img/promo_3.jpg);
}

nav a {
    color: #f5a06e;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    font-size: 0.9em;
}

nav a:hover {
    color: #fff;
}

.clear-fix {
    clear: both;
    line-height: 1px;
}
